*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*1 faq page start  */
.faq-div{
    padding: 30px 0px;
}

.faq-div h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 46px;
    color: #ffffff;
}

.question {
    background-color: #272932;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.question i {
    font-size: 1.6rem;
}

.active,
.question:hover {
    background-color: #4f5054;
}

.answer {
    padding: 0 2rem 2.5rem 2rem;
    background-color: #4f5054;
    overflow: hidden;
    display: none;
}

.answer p {
    color: #adafb9;
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq {
    border: 1px solid #808188;
    margin: 10px 0;
}

.faq.active {
    border: none;
}

/* faq page end  */

/* 2ed fad section  */
.sec-faq{
    background: #f5f8ff;
}
.container{
    margin:  0 40px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .tab{
    position: relative;
    background: #fff;
    padding: 0 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.05);
    border-radius: 5px;
    overflow: hidden;
}

.container .tab input{
    appearance: none;
}

.container .tab label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container .tab label::after{
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 2rem;
    color: rgba(0,0,0,0.1);
    transition: transfrom 1s;
}

.container .tab:hover label::after{
    color: #333;
} 

.container .tab input:checked ~ label::after{
    transform: rotate(135deg);
    color: #fff;
}

.container .tab label h2{
    width: 40px;
    height:  40px;
    background:  #333;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 5px;
    margin-right: 10px;
}

.container .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 8rem;
    justify-content: flex-end;
    padding: 20px;
}

.container .tab:nth-child(2) label h2{
    background:  linear-gradient(135deg, #70f570,#49c628);
}
.container .tab:nth-child(3) label h2{
    background:  linear-gradient(135deg, #3c8ce7,#003aff);
}
.container .tab:nth-child(4) label h2{
    background:  linear-gradient(135deg, #ff96f9,#c82bac);
}
.container .tab:nth-child(5) label h2{
    background:  linear-gradient(135deg, #fd6e6a,#ffc600);
}
.container .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}


.container .tab .content{
    max-height: 0;
    transition:  1s;
    overflow: hidden;
}
.container .tab input:checked ~ label h3{
    background: #fff;
    padding: 2px 10px;
    color: #333;
    border-radius: 3px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.05);

}

.container .tab input:checked ~ .content{
 max-height: 100vh;
 
}

.container .tab .content p{
    position: relative;
    padding:  10px 0;
    color: #333;
    z-index: 10;
}

.container .tab input:checked ~ .content p{
    color: #fff;
}

/* 2ed faq end  */